@use "../abstracts/variables" as v;

body {
  background-color: v.$color-bg;
  color: v.$color-text;
}

.container {
  width: 100%;
  max-width: v.$container-max;
  margin: 0 auto;
  padding: 0 16px;
}

.main {
  padding: 24px 16px 64px;
}
