.main-block {
    background-color: rgb(224, 224, 224);
    border: 1px solid rgb(133, 133, 133);
    height: 4vh;
    padding: 1vh 1vw;
    margin: 1vh 0;
    display: flex;
    justify-content: space-between;
    gap: 1vw;
}

.main-block__content-right {
    justify-content: flex-end;
}

.main-block__content-center {
    justify-content: center;
}

.main-block__height-10 {
    height: 10vh;
}

.inner-block {
    background-color: rgb(140, 139, 139);
    border: 1px solid rgb(89, 89, 89);
    height: 100%;
    width: 9vw;
}

.block__display-flex {
    display: flex;
    gap: 1vw;
}

.block__content-column {
    flex-direction: column;
    justify-content: space-between;
}